/* TODO: Add some CSS Variables for colors.
  (https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties)
*/

:root {
  --color-primary: #FBEAFF;
  --secondary-color: #845EC2;
  --tertiary-color: #00C9A7;
}

body {
  background-color: var(--color-primary);
  font-family: 'Oswald', sans-serif;
  font-size: 0.694em;
  line-height: 1.5;
}

h1 {
  color: var(--secondary-color);
  font-size: 2.074em;
  text-align: center;
}

/* TODO: Set up type-scaling.
  (https://type-scale.com/)
*/
